.head{
    background-color: rgba(0, 0, 0, 0);
    color: rgba(255, 255, 255, 0); 
    padding-bottom: 10px;
    display: flex;  
    justify-content: space-between;
   /* margin: 10px 200px 0 200px ; */
  margin-bottom: 40px;
   
}


.cart{
   background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    transition: 0.2s;
    
    border-radius: 80px;
    margin:10px 20px 0 20px; 
    padding: 10px 25px 10px 25px;
    
}
 .logo:hover{
    scale: 0.95;
    cursor: pointer;
}

main{
    max-width: 2000px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 2px -1px -1px, rgba(0, 0, 0, 0.14) 0px 1px 1px 0px, rgba(0, 0, 0, 0.12) 0px 1px 3px 0px;
    transition: 0.2s;
    border-radius: 0.4rem;
    
    
    & img{
        width: 45%;
        border-radius: 0.4rem;
        margin-left: auto;
        margin-right: auto;
    }

    & .price{
        font-size: 19px;
        font-weight: bold;
        color: rgb(160, 35, 35);

    }

& .product1{
    margin-inline: 1.1rem;
    text-wrap: balance;
    font-size: 13px;
}

& .DESC{
        margin-top: 1REM;
        line-height: 1.44rem;
        text-align: left;
        margin-bottom: 8px
}

& button{
    border: 1px solid black;
    padding: 0.44rem 1rem;
    
    font-size:14px;
    border-radius: 55px;
    text-decoration: none;
    /* color: white */
    transition: 0.2s;
    cursor: pointer;
    margin-top: 3px;
}

& button:hover{
    background-color: black;
    color: rgb(255, 193, 59);
}

}

main:hover{
    scale: 1.04;
}


@media (width < 550px) {
    main.flex{
        flex-wrap: wrap;
        margin-left: 30px;
        margin-right: 20px;
        }

        & .img{
            margin-inline: auto;
            width: 250px;
            
        }
        & .product1{
            margin-top: 2.5rem;
            margin-bottom: 1.3rem;
        }
    }

    .imgg{
        border-radius: 25px;
    }

    
    
.show{
    width: 100px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 2px -1px -1px, rgba(0, 0, 0, 0.14) 0px 1px 1px 0px, rgba(0, 0, 0, 0.12) 0px 1px 3px 0px;
    transition: 0.2s;
    border-radius: 1rem;
    margin-left: 90px;
    margin-right: 15px;
    margin-bottom: 20px;
   
    
    
}
.show:hover{
    scale: 1.04;
}

@media (width < 450px ){
    .title1{
       font-size:1.04rem;
       margin: 2.03rem 0 2rem 0 ;
    }
 }

 @media(width < 550px){
    .logo{
        display: flex;
        justify-content: center;
        
    }

      
    .flex border {
        display: flex;
        justify-content: center;
        padding-inline: 0; 
       
    }
   
}